body{
    background-color: #e6e6ea ;
    margin: 0;
}
.navbar{
    height: 60px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: left;
    align-items: center;
    font-size: 30px;
    background-color: #f4f4f8;
    padding-left: 0.5em;
}
.navbar h2{
    margin-left: 0.5em;
    font-family: 'News Cycle', sans-serif;
    letter-spacing: 1px;
    font-size: 30px;
}
.container{
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}
.control-panel{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    padding: 5em;
    width: 80%;
}
.non-active{
    display: none;
}
.control-panel .flex-container{
    display: flex;
    flex-flow: row nowrap;
}
.control-panel-button{
    border-radius: 8px;
    height: 9em;
    width: 9em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.control-panel-button:focus{
    background-color: #fe4a49;
}
.control-panel-button:active{
    background-color: #fe4a49;
}
.row .control-panel-button{
    margin: 2em;
}
.row:nth-child(4){
    margin-top: 4em;
}
.control-type{
    display: flex;
    flex-flow: row;
}
.control-type .control-panel-button{
    height: 7em;
    width: 10em;
    background-color: #2ab7ca;
    margin: 2em 2em 1em 2em;
}
.selected{
   color: white;
}
/* Settings Panel */
.settings-panel > form{
    display: flex;
    flex-flow: column;
    align-items: center;
}
.settings-panel{
    width: 30em;
}
.settings-value{
padding: 0.5em;
border-radius: 8px;
width: 100%;
}

/* Media */

@media only screen and (max-width: 700px) {
    .control-panel-button{
        font-size: 2vw;
    }
}

  .dewbiug{
      text-align: center;
      margin-left: 100px;
  }