@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?16687913');
  src: url('../font/fontello.eot?16687913#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?16687913') format('woff2'),
       url('../font/fontello.woff?16687913') format('woff'),
       url('../font/fontello.ttf?16687913') format('truetype'),
       url('../font/fontello.svg?16687913#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?16687913#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-down-open:before { content: '\e800'; font-size: 6em;} /* '' */
.icon-left-open:before { content: '\e801'; font-size: 6em;} /* '' */
.icon-right-open:before { content: '\e802'; font-size: 6em;} /* '' */
.icon-up-open:before { content: '\e803';font-size: 6em; } /* '' */
.icon-ccw:before { content: '\e804'; font-size: 5em;} /* '' */
.icon-cw:before { content: '\e805'; font-size: 5em;} /* '' */
.icon-camera:before { content: '\e806'; font-size: 4em;} /* '' */
.icon-keyboard:before { content: '\e807'; font-size: 4em;} /* '' */
.icon-cog:before { content: '\e808'; font-size: 4em;} /* '' */
